/* this is some ugly css for now  */

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Define global styles */
:root {
  --main-color: rgb(7, 7, 7);
  --secondary-color: rgb(214, 0, 0);
  --link-color: #ff0000;
  --visited-link-color: #620000;
}

@font-face {
  font-family: ArialBlack;
  src: url(../ArialBlack.ttf);
  font-weight: bold;
}

canvas {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

header {
  background-color: var(--secondary-color);
  width: 100%;
  height: 8rem;
  position: fixed;
  text-align: center;
  box-shadow: 0 1px 25px rgba(0, 0, 0, .1);
  background: repeating-radial-gradient(circle at center, rgb(25, 51, 153) 0 10%, rgb(218, 0, 0) 10% 20%);
  transition: all .28s ease;
  z-index: 100;
  top: 0;
}

header img {
  position: relative;
  top: -7.4rem;
  width: 8rem;
}

#site-header.hide {
  top: -8rem;
}

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-color);
}

main {
  /* margin: 1rem 0;
     */
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.title-container {
  /* display: flex;
     */
  text-align: center;
}

.title-container h2 {
  /* display: flex;
     */
  text-align: center;
  margin-top: 0.8rem;
}

#title {
  padding: 0;
  margin: 0;
  font-family: ArialBlack, sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
}

.content-wrapper {
  display: flex;
  flex-flow: column nowrap;
  background-color: #FAF9F6;
  width: 83%;
  padding: 11rem 0rem 5rem 0rem;
}

.image-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}

.image-container-sm {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.image-container img {
  max-width: 30%;
  min-width: 24%;
  padding: 1rem;
  align-self: flex-start;
}

.image-container-sm img {
  max-width: 45%;
  min-width: 24%;
  padding: 1rem;
  align-self: flex-start;
}

.image-wrapper h2 {
  position: relative;
  left: 6rem;
}

.text-split {
  display: flex;
  justify-content: center;
  /* margin: 0rem;
     */
}

.text-split div {
  padding: 2rem;
}

.top-section {
  padding-top: 1rem;
  padding: 0 15rem;
  margin: 0;
}

#links a {
  padding-top: 0.25rem;
  margin: 0;
}

.left-half {
  width: 80%;
}

#location {
  padding-bottom: 0;
}

#dates {
  /* padding-top: 1rem;
     */
}

#dates h2 {
  padding: 0.3rem 0;
  margin: 0;
}

.left-half h3 {
  color: rgb(214, 0, 0);
  padding-bottom: 0;
  margin-bottom: 0;
}

.left-half h2 {
  padding-bottom: 0;
  margin-top: 0.8rem;
}

.left-half h1 {
  padding: 0rem;
  margin-top: 0.8rem;
  margin: 1rem 0;
}

#links {
  margin: 0;
}

#links h2 {
  margin: 0.8rem 0;
}

/* #links div {
     */
/* padding: 0 5rem;
     */
/* 
}
 */
/* Anchor */
a {
  color: var(--link-color);
}

a:visited {
  color: var(--visited-link-color);
}

/* Media queries */
@media only screen and (max-width : 1558px) {
  .content-wrapper {
    width: 95%;
  }

  @media only screen and (max-width : 1362px) {
    h1 {
      font-size: 1.8rem;
    }
  }

  @media only screen and (max-width : 1335px) {
    .top-section {
      padding-top: 1rem;
      padding: 0 9rem;
    }
  }

  @media only screen and (max-width : 1105px) {
    .content-wrapper {
      width: 100%
    }

    .top-section {
      padding-top: 1rem;
      padding: 0 5rem;
    }
  }

  @media only screen and (max-width : 963px) {
    h1 {
      font-size: 1.6rem;
    }

    h2 {
      font-size: 1.2rem;
    }

    h3 {
      font-size: 1rem;
    }

    .top-section {
      padding-top: 1rem;
      padding: 0 1rem;
    }
  }

  @media only screen and (max-width : 883px) {
    .image-wrapper h2 {
      left: 4rem;
    }
  }

  @media only screen and (max-width : 687px) {
    #title {
      font-size: 3rem;
    }

    .content-wrapper {
      padding: 11rem 0rem 7rem 0rem;
    }

    .text-split {
      flex-flow: row nowrap;
      display: block;
    }

    #links {
      flex-flow: row nowrap;
      align-self: center;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    #links div {
      margin: 0;
      padding: 0rem 2.5rem 1.5rem 2rem;
    }

    .top-section {
      /* padding: 0rem 1rem;
             */
      width: 100%;
    }

    .left-half {
      /* flex-flow: row nowrap;
             */
      align-self: center;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    .left-half div {
      /* flex-flow: row nowrap;
             */
      padding: 0rem;
      margin: 0;
    }

    #location {
      width: 100%;
    }

    .image-wrapper {
      width: 100%;
    }

    .image-container {
      flex-flow: column nowrap;
      width: 100%;
    }

    .image-container img {
      max-width: 90%;
      align-self: center;
    }

    .image-container-sm {
      flex-flow: column nowrap;
      width: 100%;
    }

    .image-container-sm img {
      max-width: 90%;
      align-self: center;
    }

    .image-wrapper h2 {
      position: initial;
      text-align: center;
      /* left: 2.5rem;
             */
      font-size: 1.8rem;
    }
  }
}