/* corrections */
/* on mouse down for amp, flashes back to pink */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

object {
  width: 100%;
}

.image-container {
  display: grid;
  grid-gap: 0rem 1rem;
  justify-items: center;
  width: 100%;
  margin: 0 2rem;
}

.image-item {
  width: 100%;
  max-width: 30rem;
  margin: 1rem 0;
}

.svgObj {
  cursor: pointer;
}

@keyframes pop {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes popper {
  0% {
    transform: translateY(0px);
  }

  56% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes fill-dat {
  0% {
    fill: #000;
  }

  100% {
    fill: #ff0000;
  }
}

@keyframes scaleme {
  0% {
    scale: 100%;
  }

  50% {
    scale: 70%;
  }

  90% {
    scale: 110%;
  }

  100% {
    scale: 100%;
  }
}



/* svg specific */
.spin {
  animation: spin 1s ease-out;
}

.pop {
  animation: pop 0.8s ease-in-out;
}

.popper {
  animation: popper 0.8s ease-in-out;
}

.pink {
  fill: #ef6060;
  transition: 0.5s ease-in;
}

.yellow {
  fill: #fff000;
  transition: 0.5s ease-in;
}

.scaleme {
  animation: scaleme 0.5s ease-in-out;
}

/* Single column at 320w and below */
@media (max-width: 479px) {
  main {
    height: 100%;
    overflow: visible;
    /* Displays grid from top, prevents it from getting cut off  */
  }

  .image-container {
    grid-template-columns: 1fr;
    /* max-width: 5rem; */
  }

  .image-item {
    max-width: 38rem;
  }
}

/* Two columns */
@media (min-width: 480px) and (max-width: 767px) {
  .image-container {
    grid-template-columns: 1fr 1fr;
    max-width: 30rem;
  }
}

/* Three columns at 768w */
@media (min-width: 768px) and (max-width: 1279px) {
  .image-container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 60rem;
  }
}

/* Four  columns at 1280w and higher */
@media (min-width: 1280px) {
  .image-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 60rem;
  }
}